{% extends 'forum/base.html' %}

{% block main_area %}

<h2>Forum</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>날짜</th>
      <th>조회수</th>
    </tr>
  </thead>
  <tbody>
    {% if post_list.exists %}
    {% for p in post_list %}
    <tr onClick="location.href='{{ p.get_absolute_url }}'">
      <td>{{ p.pk }}</td>
      <td>{{ p.title }}</td>
      <td>{{ p.author }}</td>
      <td>{{ p.created_at }}</td>
      <td>조회수</td>
    </tr>
    {% endfor %}
    {% else %}
    <h3>아직 게시물이 없습니다.</h3>
    {% endif %}
  </tbody>
</table>

{% if user.is_authenticated %}
<div class="row">
  <a class="btn btn-info btn-sm ml-auto" role="button" href="/forum/create_post">
    <i class="fas fa-pen"></i>
    &nbsp;&nbsp;글 작성
  </a>
</div>
{% endif %}

</hr>

{% if is_paginated %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <div class="row">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
      {% endif %}

      <!-- {% for page in page_obj.pagnator.num_pages.iterator %}
      <li class="page-item"><a class="page-link" href="?page={{page}}">{{ page }}</a></li>
      {% endfor %} -->
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Prev</a>
      </li>
      <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li> -->
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
      </li>
      {% endif %}
    </div>
  </ul>
  <span class="row current justify-content-center mt-0">
    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
  </span>


</nav>
{% endif %}
{% endblock %}