{% extends 'dashboard/base.html' %}

{% block main_area %}

<div class="container">
    <div class="row my-3">
        <div class="col-12">
            <h3 class="">유저보드</h3>
            <table class="table mb-4">
                <thead>
                    <th class="col-1">#</th>
                    <th class="col-3">이름</th>
                    <th class="col-2">점수</th>
                    <th class="col-2">승률</th>
                    <th class="col-2">게임 수</th>
                    <th class="col-2">적정 점수</th>
                </thead>
                <tr class="table-success">
                    <td>1</td>
                    <td>Seonghun</td>
                    <td>150</td>
                    <td>66.6%</td>
                    <td>7</td>
                    <td>140</td>
                </tr>
                <tr class="table-danger">
                    <td>2</td>
                    <td>yh_insut</td>
                    <td>120</td>
                    <td>50.0%</td>
                    <td>8</td>
                    <td>130</td>
                </tr>
                <tr class="">
                    <td>3</td>
                    <td>jjh-97</td>
                    <td>90</td>
                    <td>90.0%</td>
                    <td>5</td>
                    <td>100</td>
                </tr>
            </table>
        </div>
    </div>


    <h3>전적</h3>
    <hr/>
    <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" data-toggle="modal"
                data-target="#createGameModal">새 기록 입력하기</a>
    <table class="table mb-4">
        <thead>
            <tr>
                <th class="col-2">날짜</th>
                <th class="col-3">승</th>
                <th class="col-3">패</th>
                <th class="col-4">점수</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2010/07/14</td>
                <td>Seonghun, Yeonghyun</td>
                <td>Developer</td>
                <td>150/200</td>
            </tr>
            <tr>
                <td>2010/07/14</td>
                <td>sdfataser Alexander</td>
                <td>Developer</td>
                <td>150 / 200 / 90</td>
            </tr>
            <tr>
                <td>2010/07/14</td>
                <td>asdfhgaer Alexander</td>
                <td>sdfwer</td>
                <td>150/200</td>
            </tr>
            <tr>
                <td>2010/07/14</td>
                <td>adfhadsgfas Alexander</td>
                <td>Devessfsdfasloper</td>
                <td>450 / 200</td>
            </tr>
            <tr>
                <td>2010/07/14</td>
                <td>Jonas Alexander</td>
                <td>635sdfg</td>
                <td>150/200/20</td>
            </tr>
        </tbody>
    </table>
    <!-- <div class="card mb-4">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            
        </div>
    </div> -->
</div>


{% endblock %}